@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400..700&display=swap');
@import "tailwindcss";


@theme{
    --font-miriam: "Miriam Libre", sans-serif;

    --color-navy-blue-magenta: #171522;
    --color-blue-magenta: #33334d;
    --color-rosepink: #e88da3;
    --color-dark-rosepink: #a46a78;
    
    --color-pink: #fa889f;
    --color-light-pink: #f7a5b4;
    --color-light-gray: #9d9d9d;
}